.header {
  width: 90rem;
  max-width: 70rem;
  height: 3rem;
  padding-top: 2rem;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  background-color: transparent;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  background-color: rgb(56, 56, 210);
  border-radius: 8px;
  padding: 0.3rem 1rem;
  margin: 1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.button span {
  margin: 0 0.15rem;
}

.button:hover,
.button:active {
  color: rgb(56, 56, 210);
  background-color: rgb(230, 230, 230);
}
